/**
 *
 *EXERCISE 16 VERSION 2
 *Patrick Saint-Louis, 2023
*/

.blueText {
    color: blue;
}

.redText {
    color: red;
}

#back {
    width: inherit;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 50%;
    border-radius: 6px;
    margin: 5px auto 5px auto;
    border: 2px solid black;
    padding: 2% 2% 2% 2%;
    text-align: center;
}

table {
    margin: 1px auto 1px auto;
}

tr.submit:nth-of-type(4)>td:nth-child(1),
tr.submit:nth-of-type(4)>td:nth-child(2){
    border: none !important;
}

th,
td,
tr.result>td{
    border: 1px solid #000000 !important;
    text-align: left;
}

form,
table {
    margin-right: auto;
    margin-left: auto;
}

#submit1 {
    margin-left: 28%;
}

h1 {
    font-size: 100%;
    text-align: center;
}