* {
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    font-family: Verdana, sans-serif;
}

.form {
    color: #0000ff;
}

.formhandling {
    color: #ff0000;
}

.display-name {
    color: #008000;
}

#error{
    color: #ff0000;
    font-size:small;
    border:none;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

p.restrictions{
    font-size: 70%;
    margin-bottom: 3%;
}

.container {
    width: 50%;
    border-radius: 6px;
    margin: 15px auto 5px auto;
    padding: 2% 2% 2% 2%;
    border: 1px solid black;
    text-align: center;
}

label, input{
    display: block;
    margin-top:5px;
    padding: 4px;
    margin-left:auto;
    margin-right:auto;
}

#submitbutton1{
    font-weight: bold;
}

input {
    font-size: inherit;
    width: 60%;
}

label {
    font-weight: 900;
}

header {
    display: block;
    min-height: auto;
    width: 100%;
    top:0;
    background-color: #DDDD88;
}

h2{
    margin-top:0;
    margin-bottom:0;
}

p.footer{
    text-align: center;
    
}

hr{
    margin-top:0;
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: auto;
    background-color: #dddd88;
}

.logo{
    font-size: 200%;
}

.backlink{
    margin-top:10%;
    width: 60%;
}

.backlink a{
    font-size: 130%;
    font-weight: bold;
    text-decoration-line:none;
    color:#000000;
}

h2.outputs{
    text-align:left !important;
}

.property{
    color:#0000ff;
}